.div_experience {
    margin: 30px 0 30px 0;
}

.p_experience_years {
    margin: 0;
    font-weight: bold;
}

.p_experience_company {
    margin: 0;
}

.h3_position {
    margin: 0 0 10px 0;
}

.p_text{
    margin: 0;
}