.h3_contact {
    margin: 15px 0 0 0;
    font-size: 1rem;
}
.a_contact {
    color: white;
    margin: 0;
    font-size: 1rem;
}

.a_contact:hover {
    color: white;
}

@media (max-width: 767px) {
    .h3_contact {
        font-size: 0.8rem;
    }

    .a_contact {
        font-size: 0.8rem;
    }
}

@media (max-width: 575px) {
    .h3_contact {
        font-size: 0.7rem;
    }

    .a_contact {
        font-size: 0.7rem;
    }
}