.h3_contact {
    margin: 15px 0 0 0;
}
.p_contact {
    margin: 0;
    font-size: 0.9rem;
}

@media (max-width: 767px) {
    .h3_contact {
        font-size: 1rem;
    }

    .p_contact {
        font-size: 0.8rem;
    }
}

@media (max-width: 575px) {
    .h3_contact {
        font-size: 0.85rem;
    }

    .p_contact {
        font-size: 0.7rem;
    }
}